{% extends 'base.html'%}
{%block content%}



<form method="post" action="{%url 'addArticleData' %}">
    {% csrf_token %}
    <div class="form-group row-xs-2">
      <div class="col">
        <label >Barcode</label>
        <input type="text" class="form-control" placeholder="Barcode" name="Barcode"  required>
      </div>
    </br>
      <div class="col">
        <label >Bezeichnung</label>
        <input type="text" class="form-control" placeholder="Bezeichnung" name="Bezeichnung" required>
      </div>
    </br>
    
    <div class="col">
    <label for="Kategorie">Kategorie</label>
    <div class="input-group">
        <input type="text" class="form-control" id="Kategorie" placeholder="Kategorie" name="Kategorie" required>
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Kategorien Öffnen
        </button>

        <ul class="dropdown-menu dropdown-menu-end">
            {% for category in categories %}
            <li><a class="dropdown-item" href="#" onclick="selectCategory('{{ category }}')">{{ category }}</a></li>
            {% endfor %}
        </ul>

    </div>
</div>

    </br>
      <div class="col">
        <label >Lagerbestand</label>
        <input type="text" class="form-control" placeholder="Lagerbestand" name="Lagerbestand"  required>
      </div>
    </br>
      <div class="col">
        <label >Mindestbestand</label>
        <input type="text" class="form-control" placeholder="Mindestbestand" name="Mindestbestand"  required>
      </div>
    </br>

    </div>
    <center>
    <button type="submit" class="btn btn-primary" >Best&auml;tigen</button>
    <button type="button" class="btn btn-danger" onClick="cancel()">Abbrechen</button>
    </center>
  </form>

  <script> 

    function cancel()
    {
        window.location.href="../"
    }

    function selectCategory(category) {
      document.getElementById('Kategorie').value = category;
    }

    
  </script>

{%endblock%}