{%extends 'base.html'%}

{%block content%}

<table class="table">
    <thead>
      <tr>
        <th scope="col">Barcode</th>
        <th scope="col">Bezeichnung</th>
        <th scope="col">Kategorie</th>
        <th scope="col">Lagerbestand</th>
        <th scope="col">Mindestbestand</th>
      </tr>
    </thead>
    <tbody>
      {%for article in lager%}
      <tr>
        <th scope="row">{{article.Barcode}}</th>
        <td>{{article.Bezeichnung}}</td>
        <td>{{article.Kategorie}}</td>
        <td>{{article.Lagerbestand}}</td>
        <td>{{article.Mindestbestand}}</td>
      </tr>
      {%endfor%}
      
      
    </tbody>
  </table>


{%endblock%}